:root {
  --primary-background-color: #ffffff;
  --hero-gackground-color: #2f303a;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --tertiary-text-color: #ffffff;
  --logo-secondary-color: #000000;
  --accent-color: #2196f3;
  --button-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.section {
  padding: 94px 0px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;

  margin: 0px 0px 50px 0px;
}

/* Header */

.page-header {
  background: #ffffff;
  border-bottom: 1px solid #ececec;
}

.page-header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

/* logo */
.logo-blue {
  color: var(--accent-color);

  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  outline: none;
  display: inline-block;
}

.logo-black {
  font-family: 'Raleway', sans-serif;
  color: var(--logo-secondary-color);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-white {
  font-family: 'Raleway', sans-serif;
  color: var(--tertiary-text-color);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* nav links */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.site-nav-item:not(:first-child) {
  margin-left: 50px;
}

.site-nav-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding: 32px 0;
}

.current {
  color: var(--accent-color);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.contacts {
  display: flex;

  color: var(--tertiary-text-color);
}

.contacts-item {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-item-header {
}

.contacts-item-header:not(:first-child) {
  margin-left: 50px;
}

.mail-icon {
  width: 16px;
  height: 12px;
}

.smartphone-icon {
  width: 10px;
  height: 16px;
}

.contacts-link {
  color: var(--secondary-text-color);
  padding: 32px 0;
  font-size: 14px;
  line-height: 1.4px;
  letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  padding: 200px 0;
  background: var(--hero-gackground-color);
  text-align: center;
}

.overlay {
  min-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  width: 696px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--tertiary-text-color);
}

.hero-button {
  font-size: 16px;
  line-height: 1.87;

  color: var(--tertiary-text-color);
  background: var(--accent-color);

  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 30px;
}

/* benefits */

.benefits {
  display: flex;
}

.benefits-list {
  width: 270px;
}

.benefits-list:not(:last-child) {
  margin-right: 30px;
}

.benefits-description {
  font-weight: bold;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.03em;

  margin: 0px 0px 10px 0px;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* What we do */

.work {
  margin: 0px 0px 50px 0px;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}
.work-list {
  display: flex;
  justify-content: space-between;
}

.work-section {
  padding-top: 0;
}

/* our team */
.team-section {
  background-color: #f5f4fa;
}

.our-team-group {
  display: flex;
}

.our-team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-item:not(:last-child) {
  margin-right: 30px;
}

.our-team-name {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  margin: 0px 0px 10px 0px;
}

.our-team-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.team-box {
  padding: 30px 0;
  text-align: center;
}

.social-net {
  display: flex;
  justify-content: center;
  width: 270px;
  margin-top: 16px;
}

.social-icon {
}

.social-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.social-thumb:not(:last-child) {
  margin-right: 10px;
}

/* WebStudio's projects */

.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  background-color: var(--button-background-color);
  color: var(--primary-text-color);

  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--tertiary-text-color);
}

.projects-group {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.progect-box {
  margin: 15px;
  border-bottom: 1px solid #eeeeee;
}

.progect-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-text-color);

  margin-bottom: 4px;
}

.project-title-box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.project-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Clients */

.clients-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.button-icon {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.button-icon:hover,
.button-icon:focus {
  border-color: var(--accent-color);
}

/* footer */

.footer {
  padding: 60px 0;
  background: var(--footer-background-color);
}

.address-footer {
  margin-top: 20px;
}

.physical-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--tertiary-text-color);
}

.address {
  margin: 0px 0px 9px 0px;
}

.contacts-item:not(:last-child) {
  margin: 0px 0px 9px 0px;
}

.physical-address:hover,
.physical-address:focus {
  color: var(--accent-color);
}

.contacts-link-footer {
  margin-bottom: 9px;
  color: var(--secondary-text-color);
}

.contacts-link-footer:hover,
.contacts-link-footer:focus {
  color: var(--accent-color);
}
